name: Build and Deploy Services
on:
  push:
    branches:
      - main

env:
  PROJECT_ID: home-search-475404
  ARTIFACT_REGISTRY: homesearch-services-docker
  GCP_REGION: us-south1

jobs:
  detect-changes:
    name: Detect Service Changes
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changes.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      
      - name: Detect changed services
        id: changes
        run: |
          changed_services=($(./.github/workflows/get-service-diff.sh))
          
          if [ ${#changed_services[@]} -gt 0 ]; then
            matrix=$(printf '%s\n' "${changed_services[@]}" | jq -R . | jq -s .)
            echo "matrix={\"service\":$matrix}" >> $GITHUB_OUTPUT
            echo "Changed services: ${changed_services[*]}"
          else
            echo "matrix={\"service\":[]}" >> $GITHUB_OUTPUT
            echo "No service changes detected"
          fi

  build-and-deploy:
    name: Build and Deploy ${{ matrix.service }}
    needs: detect-changes
    if: needs.detect-changes.outputs.matrix != '{"service":[]}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ${{ fromJson(needs.detect-changes.outputs.matrix).service }}
    defaults:
      run:
        working-directory: services/${{ matrix.service }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
        # skipping this for now since now build system is configured for services
      - name: Install Nix
        if: false
        uses: cachix/install-nix-action@v31.8.1
    
      - name: Build service binary
        run: make build
      
      - name: Generate image tag name
        id: image_tag_name
        run: echo "tag=${{ matrix.service }}:$(echo ${{ github.sha }} | cut -c1-8)" >> "$GITHUB_OUTPUT"

      - name: Build service container image
        run: docker build -t ${{ steps.image_tag_name.outputs.tag }} .

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ env.PROJECT_ID }}
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
        with:
          project_id: ${{ env.PROJECT_ID }}
          version: '544.0.0'
      
      - name: Setup Docker
        run: gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev
      
      - name: Build and push service container image
        run: |
          docker build -t "${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY }}/${{ steps.image_tag_name.outputs.tag }}" .
          docker push "${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY }}/${{ steps.image_tag_name.outputs.tag }}"
    